.testimonial-data__datas-data,
.testimonial-data__datas-header {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  gap: 4rem;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.testimonial-data__datas-header {
  font-weight: 700;
}
