@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700;900&display=swap');

// Fonts
$font_text: 'Lato', sans-serif;
$font_heading: 'Roboto', sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #3ec492;
$white: #fff;
$black: #000;
$text: #4f4747;
$heading: #4c5166;
$placeholder: #808080;
$border_input: #d4cfcf;
$link: #3463fb;
$error: #ff3e3e;
